
.product:hover{
    transition: 0.15s ease-in;
    box-shadow: 0 0 10px grey;
}

.product_description{
    font-size: 16px;
    block-size: 100px;   
    font-weight: 400;  
    overflow: hidden;
    
}


.product > button:active{
    scale: 0.98;
}


.product_price{
    margin-top: 15px;
}
.product_info{
    height: 200px;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}
.product_rating{
    display: flex;   
    
}

.price_text{
    font-size: 24px;
    font-weight: 500;
    
    
}
small{
    position: relative;
    bottom: 7px;
    
}

.scroll_bar{
    overflow-x: scroll;
}