.register{
    display: flex;
    flex-direction: column;
    height: 650px;
    align-items: center;
    background: linear-gradient(to right,rgb(234, 237, 237) , white,white, rgb(234, 237, 237));
    box-shadow: 0px 1px 20px  rgba(194, 224, 224, 0.465) ;
    
}
.register_container{
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    box-shadow: 0px 1px 10px rgb(185, 185, 185);
}
.register_container > h1{
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 20px;
}
.register_container > form >h6{
    font-weight: 700;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
   
}
.register_container > form > input {
    height: 30px;
    margin-bottom: 5px;
    background-color: white;
    width: 98%;
    border-radius: 5px;
    border: 1px solid rgb(125, 123, 123);
    outline: none;
    padding-left: 5px;
   
    
}
.register_container > form > input:focus{
    box-shadow: 0px 1px 10px #f0c14b;
}
.register_button{
    background: linear-gradient(to bottom, #e9f4bf, #f0c14b) ;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    border: 1px solid rgb(156, 156, 156);
    box-shadow: 0 2px 5px rgb(184, 184, 184);
    margin-top: 15px;   
}
.register_container > p{
    margin: 15px 0;
    font-weight: 400;
    font-size: 13px;
}
.register_container > p > span{
    color: blue;
}